language: cpp

compiler:
  - gcc

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libpng cpputest
  - mkdir build
  - cd build
  - cmake ..

script:
  - make debug
  - make
  - make check

branches:
  only:
    - master
